<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8ec73c74-4f3d-406b-afc6-a6b9d8057e88/resourceGroups/bichoNube/providers/Microsoft.Web/sites/MVCTutorial20180313074237</ResourceId>
    <ResourceGroup>bichoNube</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mvctutorial20180313074237.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvctutorial20180313074237.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MVCTutorial20180313074237</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MVCTutorial20180313074237</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mvctutorial20180313074237dbserver.database.windows.net,1433;Initial Catalog=MVCTutorial20180313074237_db;User ID=cloudcomputing@mvctutorial20180313074237dbserver;Password=Bichoec1." Name="Data Source=tcp:mvctutorial20180313074237dbserver.database.windows.net,1433;Initial Catalog=MVCTutorial20180313074237_db;User Id=cloudcomputing@mvctutorial20180313074237dbserver;Password=Bichoec1." />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MVCTutorial.Models.ApplicationDbContext, MVCTutorial" MigrationConfiguration="MVCTutorial.Migrations.Configuration, MVCTutorial" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mvctutorial20180313074237dbserver.database.windows.net,1433;Initial Catalog=MVCTutorial20180313074237_db;User Id=cloudcomputing@mvctutorial20180313074237dbserver;Password=Bichoec1.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>